@model AppVendasWeb.Models.Produto

@{
    ViewData["Title"] = "Produto";
    List<Categoria> listaCategorias = (List<Categoria>)ViewData["ListaCategorias"];

  

}

<h1>Cadastro</h1>

<h4>Produto</h4>

<hr />

<!-- Modal -->
<div class="modal fade" id="janelaCategoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content bg-dark bg-gradient text-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Selecione a Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="buscaCategoria"
                               placeholder="Pesquisar por categoria" aria-label="Pesquisar por categoria"
                               aria-describedby="button-addon2">
                        <a class="btn btn-outline-light" id="button-addon2">
                            <svg bootstrap-icon="Search" width="16" height="16" aria-label="Pesquisar"></svg>
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-dark table-striped table-hover" id="tabelaCategoria">
                        <thead>
                            <tr>
                                <th>
                                    Nome da Categoria
                                </th>
                                <th>
                                    CPF
                                </th>
                                <th>
                                    Selecionar
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in listaCategorias)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoriaNome)
                                    </td>


                                    <td class="text-center">
                                        <a class="text-decoration-none link-light" asp-controller="Produtos" asp-action="SelecionaCategoria" asp-route-id="@item.CategoriaId" asp-route-id="@item.CategoriaId">
                                            <svg class="mx-2" bootstrap-icon="Check2Square" width="20" height="20" aria-label="Editar"></svg>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
